@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================================
      GLOBAL THEME SYSTEM
   =================================== */
@layer base{
        /*LIGHT MODE THEME*/
  :root{
    --color-bg: 255 255 255;
    --color-text: 6 26 75;
    --color-bg-muted: 216 221 227;
    --color-text-muted: 68 94 171;

        /* Typography */
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Georgia', serif;
    --font-mono: 'Menlo', monospace;

        /* Border Radius */
    --radius: 0.5rem;

        /*Interface*/
          /*Actions*/
    --color-primary-bg: 60 131 246;/* blue: used for key interface elements like headers, buttons, or highlights that represent primary actions or branding */
    --color-primary-text: 255 255 255;
    --color-secondary-bg: 209 217 224;
    --color-secondary-text: 14 34 88;

    --color-accent-bg: 209 217 224; /* gray: used for secondary interface elements or less prominent features */
    --color-accent-text: 14 34 88;

    --color-destructive-bg: 225 76 76;
    --color-destructive-text: 250 250 250;

        /*Form Elements*/
    --color-input: 185 191 202;
    --color-border: 235 236 240;
    --color-border-focus: 60 131 246;

        /*Card Variables */
    --color-card-bg: 243 244 246;      /* #f3f4f6 */
    --color-card-text: 6 26 75;        /* #061a4b */
    
        /*Popover Variables */
    --color-popover-bg: 226 229 233;   /* #e2e5e9 */
    --color-popover-text: 6 26 75;     /* #061a4b */
    
        /*Chart Color Variables */
    --color-chart-1: 255 122 82;       /* #ff7a52 */
    --color-chart-2: 22 202 106;       /* #16ca6a */
    --color-chart-3: 164 33 181;       /* #a421b5 */
    --color-chart-4: 246 174 49;       /* #f6ae31 */
    --color-chart-5: 60 131 246;       /* #3c83f6 */

  }

        /*DARK MODE THEME*/
  .dark {
    --color-bg: 6 25 70; /* #061946 */
    --color-text: 250 250 250; /* #fafafa */
    --color-bg-muted: 220 223 228; /* #dcdfe4 */
    --color-text-muted: 61 93 169; /* #3d5da9 */

    /* Interface */
    --color-primary-bg: 233 230 37;
    --color-primary-text: 250 250 250;
    --color-secondary-bg: 212 215 222;
    --color-secondary-text: 8 34 94;

    --color-accent-bg: 212 215 222;
    --color-accent-text: 8 34 94;

    --color-destructive-bg: 239 67 67;
    --color-destructive-text: 250 250 250;

    --color-input: 192 196 206;
    --color-border: 229 231 235;
    --color-border-focus: 233 230 37;

    --color-card-bg: 243 244 246;
    --color-card-text: 6 25 70;
    --color-popover-bg: 229 231 235;
    --color-popover-text: 6 25 70;

    /* Charts remain the same */
    --chart-1: 255 128 82;
    --chart-2: 33 196 93;
    --chart-3: 155 39 176;
    --chart-4: 255 178 36;
    --chart-5: 60 131 246;
  }

}